[submodule "specs/whatwg-html"]
	path = specs/whatwg-html
	url = https://github.com/whatwg/html.git
[submodule "specs/csswg-drafts"]
	path = specs/csswg-drafts
	url = https://github.com/w3c/csswg-drafts.git
[submodule "specs/whatwg-dom"]
	path = specs/whatwg-dom
	url = https://github.com/whatwg/dom.git
[submodule "specs/whatwg-webidl"]
	path = specs/whatwg-webidl
	url = https://github.com/whatwg/webidl.git
[submodule "specs/whatwg-url"]
	path = specs/whatwg-url
	url = https://github.com/whatwg/url.git
[submodule "specs/whatwg-fetch"]
	path = specs/whatwg-fetch
	url = https://github.com/whatwg/fetch.git
[submodule "vendor/ecma-rs/test262/data"]
	path = vendor/ecma-rs/test262/data
	url = https://github.com/tc39/test262-parser-tests.git
[submodule "vendor/ecma-rs/test262-semantic/data"]
	path = vendor/ecma-rs/test262-semantic/data
	url = https://github.com/tc39/test262.git
[submodule "vendor/ecma-rs/parse-js/tests/TypeScript"]
	path = vendor/ecma-rs/parse-js/tests/TypeScript
	url = https://github.com/microsoft/TypeScript.git
