/* src/component/src/component/styles.module.css */
@layer ddsweb-large-atoms {
  .kbzm_a_imageResponsive {
    width: var(--width-global, 100%);
    min-width: var(--min-width-global, initial);
    max-width: var(--max-width-global, initial);
    min-height: var(--min-height-global, initial);
    max-height: var(--max-height-global, initial);
    object-fit: var(--object-fit-global, fill);
    object-position: var(--object-position-global, top);
    display: block;}
  @media (width >= 320px) {
    .kbzm_a_imageResponsive {
      width: var(--width-aboveMobile, var(--width-global, 100%));
      min-width: var(--min-width-aboveMobile, var(--min-width-global, initial));
      max-width: var(--max-width-aboveMobile, var(--max-width-global, initial));
      min-height: var(--min-height-aboveMobile, var(--min-height-global, initial));
      max-height: var(--max-height-aboveMobile, var(--max-height-global, initial));
      object-fit: var(--object-fit-aboveMobile, var(--object-fit-global, fill));
      object-position: var(--object-position-aboveMobile, var(--object-position-global, top));}}
  @media (width >= 504px) {
    .kbzm_a_imageResponsive {
      width: var(--width-aboveMobileLarge, var(--width-aboveMobile, var(--width-global, 100%)));
      min-width: var(--min-width-aboveMobileLarge, var(--min-width-aboveMobile, var(--min-width-global, initial)));
      max-width: var(--max-width-aboveMobileLarge, var(--max-width-aboveMobile, var(--max-width-global, initial)));
      min-height: var(--min-height-aboveMobileLarge, var(--min-height-aboveMobile, var(--min-height-global, initial)));
      max-height: var(--max-height-aboveMobileLarge, var(--max-height-aboveMobile, var(--max-height-global, initial)));
      object-fit: var(--object-fit-aboveMobileLarge, var(--object-fit-aboveMobile, var(--object-fit-global, fill)));
      object-position: var(--object-position-aboveMobileLarge, var(--object-position-aboveMobile, var(--object-position-global, top)));}}
  @media (width >= 756px) {
    .kbzm_a_imageResponsive {
      width: var(--width-aboveTablet, var(--width-aboveMobileLarge, var(--width-aboveMobile, var(--width-global, 100%))));
      min-width: var(--min-width-aboveTablet, var(--min-width-aboveMobileLarge, var(--min-width-aboveMobile, var(--min-width-global, initial))));
      max-width: var(--max-width-aboveTablet, var(--max-width-aboveMobileLarge, var(--max-width-aboveMobile, var(--max-width-global, initial))));
      min-height: var(--min-height-aboveTablet, var(--min-height-aboveMobileLarge, var(--min-height-aboveMobile, var(--min-height-global, initial))));
      max-height: var(--max-height-aboveTablet, var(--max-height-aboveMobileLarge, var(--max-height-aboveMobile, var(--max-height-global, initial))));
      object-fit: var(--object-fit-aboveTablet, var(--object-fit-aboveMobileLarge, var(--object-fit-aboveMobile, var(--object-fit-global, fill))));
      object-position: var(--object-position-aboveTablet, var(--object-position-aboveMobileLarge, var(--object-position-aboveMobile, var(--object-position-global, top))));}}
  @media (width >= 1008px) {
    .kbzm_a_imageResponsive {
      width: var(--width-aboveTabletLarge, var(--width-global, 100%));
      width: var(--width-aboveTabletLarge, var(--width-aboveTable, var(--width-aboveMobileLarge, var(--width-aboveMobile, var(--width-global, 100%)))));
      min-width: var(--min-width-aboveTabletLarge, var(--min-width-global, initial));
      max-width: var(--max-width-aboveTabletLarge, var(--max-width-global, initial));
      min-height: var(--min-height-aboveTablet, var(--min-height-aboveMobileLarge, var(--min-height-aboveMobile, var(--min-height-global, initial))));
      max-height: var(--max-height-aboveTabletLarge, var(--max-height-aboveTable, var(--max-height-aboveMobileLarge, var(--max-height-aboveMobile, var(--max-height-global, initial)))));
      object-fit: var(--object-fit-aboveTabletLarge, var(--object-fit-global, fill));
      object-position: var(--object-position-aboveTabletLarge, var(--object-position-global, top));}}
  @media (width >= 1260px) {
    .kbzm_a_imageResponsive {
      width: var(--width-aboveDesktop, var(--width-aboveTabletLarge, var(--width-aboveTablet, var(--width-aboveMobileLarge, var(--width-aboveMobile, var(--width-global, 100%))))));
      min-width: var(--min-width-aboveDesktop, var(--min-width-aboveTabletLarge, var(--min-width-aboveTablet, var(--min-width-aboveMobileLarge, var(--min-width-aboveMobile, var(--min-width-global, initial))))));
      max-width: var(--max-width-aboveDesktop, var(--max-width-aboveTabletLarge, var(--max-width-aboveTablet, var(--max-width-aboveMobileLarge, var(--max-width-aboveMobile, var(--max-width-global, initial))))));
      min-height: var(--min-height-aboveDesktop, var(--min-height-aboveTablet, var(--min-height-aboveMobileLarge, var(--min-height-aboveMobile, var(--min-height-global, initial)))));
      max-height: var(--max-height-aboveDesktop, var(--max-height-aboveTabletLarge, var(--max-height-aboveTablet, var(--max-height-aboveMobileLarge, var(--max-height-aboveMobile, var(--max-height-global, initial))))));
      object-fit: var(--object-fit-aboveDesktop, var(--object-fit-aboveTabletLarge, var(--object-fit-aboveTablet, var(--object-fit-aboveMobileLarge, var(--object-fit-aboveMobile, var(--object-fit-global, fill))))));
      object-position: var(--object-position-aboveDesktop, var(--object-position-aboveTabletLarge, var(--object-position-aboveTablet, var(--object-position-aboveMobileLarge, var(--object-position-aboveMobile, var(--object-position-global, top))))));}}
  @media (width >= 1512px) {
    .kbzm_a_imageResponsive {
      width: var(--width-aboveDesktopLarge, var(--width-aboveDesktop, var(--width-aboveTablet, var(--width-aboveMobileLarge, var(--width-aboveMobile, var(--width-global, 100%))))));
      min-width: var(--min-width-aboveDesktopLarge, var(--min-width-aboveDesktop, var(--min-width-aboveTablet, var(--min-width-aboveMobileLarge, var(--min-width-aboveMobile, var(--min-width-global, initial))))));
      max-width: var(--max-width-aboveDesktopLarge, var(--max-width-aboveDesktop, var(--max-width-aboveTablet, var(--max-width-aboveMobileLarge, var(--max-width-aboveMobile, var(--max-width-global, initial))))));
      min-height: var(--min-height-aboveDesktopLarge, var(--min-height-aboveDesktop, var(--min-height-aboveTablet, var(--min-height-aboveMobileLarge, var(--min-height-aboveMobile, var(--min-height-global, initial))))));
      max-height: var(--max-height-aboveDesktopLarge, var(--max-height-aboveDesktop, var(--max-height-aboveTablet, var(--max-height-aboveMobileLarge, var(--max-height-aboveMobile, var(--max-height-global, initial))))));
      object-fit: var(--object-fit-aboveDesktopLarge, var(--object-fit-aboveDesktop, var(--object-fit-aboveTablet, var(--object-fit-aboveMobileLarge, var(--object-fit-aboveMobile, var(--object-fit-global, fill))))));
      object-position: var(--object-position-aboveDesktopLarge, var(--object-position-aboveDesktop, var(--object-position-aboveTablet, var(--object-position-aboveMobileLarge, var(--object-position-aboveMobile, var(--object-position-global, top))))));}}}