@layer ddsweb-molecules {
  @layer ddsweb-messaging {
    @layer ddsweb-messaging-inline {
      .NpImVG_amend {
        --bg-color-light: var(--dds-messaging-colour-messaging-active-tint);
        --bg-color-dark: var(--dds-messaging-colour-messaging-active);
        color: purple;}}}}