/* src/component/src/component/styles.module.css */
@layer ddsweb-small-atoms {
  @layer ddsweb-heading {
    .f-mPEa_heading {
      color: var(--ddsweb-heading-color, var(--ddsweb-theme-colors-base, 'inherit'));
      font-weight: var(--ddsweb-theme-font-weight-heading);
      font-size: var(--ddsweb-heading-font-size);
      line-height: var(--ddsweb-heading-line-height);
      font-family: var(--ddsweb-theme-font-family-heading);
      margin: 0;}
    .f-mPEa_oversizedXxxl {
      --ddsweb-heading-font-size: var(--ddsweb-theme-font-size-next-oversized-xxxl);
      --ddsweb-heading-line-height: var(--ddsweb-theme-line-height-next-heading);}
    .f-mPEa_oversizedXxl {
      --ddsweb-heading-font-size: var(--ddsweb-theme-font-size-next-oversized-xxl);
      --ddsweb-heading-line-height: var(--ddsweb-theme-line-height-next-heading);}
    .f-mPEa_oversizedXl {
      --ddsweb-heading-font-size: var(--ddsweb-theme-font-size-next-oversized-xl);
      --ddsweb-heading-line-height: var(--ddsweb-theme-line-height-next-heading);}
    .f-mPEa_oversizedLg {
      --ddsweb-heading-font-size: var(--ddsweb-theme-font-size-next-oversized-lg);
      --ddsweb-heading-line-height: var(--ddsweb-theme-line-height-next-heading);}
    .f-mPEa_headlineXxxl {
      --ddsweb-heading-font-size: var(--ddsweb-theme-font-size-next-headline-xxxl);
      --ddsweb-heading-line-height: var(--ddsweb-theme-line-height-next-heading);}
    .f-mPEa_headlineXxl {
      --ddsweb-heading-font-size: var(--ddsweb-theme-font-size-next-headline-xxl);
      --ddsweb-heading-line-height: var(--ddsweb-theme-line-height-next-heading);}
    .f-mPEa_headlineXl {
      --ddsweb-heading-font-size: var(--ddsweb-theme-font-size-next-headline-xl);
      --ddsweb-heading-line-height: var(--ddsweb-theme-line-height-next-heading);}
    .f-mPEa_headlineLg {
      --ddsweb-heading-font-size: var(--ddsweb-theme-font-size-next-headline-lg);
      --ddsweb-heading-line-height: var(--ddsweb-theme-line-height-next-heading);}
    .f-mPEa_headlineMd {
      --ddsweb-heading-font-size: var(--ddsweb-theme-font-size-next-headline-md);
      --ddsweb-heading-line-height: var(--ddsweb-theme-line-height-next-heading);}
    .f-mPEa_headlineSm {
      --ddsweb-heading-font-size: var(--ddsweb-theme-font-size-next-headline-sm);
      --ddsweb-heading-line-height: var(--ddsweb-theme-line-height-next-heading);}}}