@layer ddsweb-large-atoms {
  @layer ddsweb-spinner {
    @layer ddsweb-spinner-container {
      .O_aXea_container {
        display: inline-flex;}

      .O_aXea_hasChildren {
        flex-direction: var(--children-orientation);
        align-items: center;}

      .O_aXea_childrenBelow {
        --children-orientation: column;
        --children-top-spacing: var(--ddsweb-tc-spinner-container-children-below-top-spacing, 12px);
        --children-left-spacing: var(--ddsweb-tc-spinner-container-children-below-left-spacing, 0);
        --children-text-align: center;}

      .O_aXea_childrenRight {
        --children-orientation: row;
        --children-top-spacing: var(--ddsweb-tc-spinner-container-children-right-top-spacing, 0);
        --children-left-spacing: var(--ddsweb-tc-spinner-container-children-right-left-spacing, 12px);
        --children-text-align: left;}

      .O_aXea_childrenContainer {
        margin-top: var(--children-top-spacing);
        margin-left: var(--children-left-spacing);
        text-align: var(--children-text-align);
        flex-flow: column wrap;
        display: flex;}

      .O_aXea_visuallyHidden {
        clip: rect(0 0 0 0);
        border: 0;
        width: 1px;
        height: 1px;
        margin: -1px;
        padding: 0;
        position: absolute;
        overflow: hidden;}}

    @layer ddsweb-spinner-description, ddsweb-spinner-label;}}