@layer ddsweb-large-atoms {
  @layer ddsweb-link {
    .au-qUW_link {
      --ddsweb-theme-icons-24-width: var(--ddsweb-tc-link-icon-width, 24px);
      --ddsweb-theme-icons-24-height: var(--ddsweb-tc-link-icon-height, 24px);
      box-sizing: border-box;
      outline: var(--ddsweb-theme-base-outline);
      color: var(--ddsweb-link-color-base, var(--dds-interaction-colour-interactive-default));
      -webkit-text-decoration: var(--ddsweb-link-text-decoration, underline);
      text-decoration: var(--ddsweb-link-text-decoration, underline);
      overflow-wrap: break-word;
      cursor: pointer;
      transition: color var(--ddsweb-theme-base-transition-duration);
      position: relative;}

    .au-qUW_link:visited {
      color: var(--ddsweb-link-color-visited, var(--dds-interaction-colour-interactive-default));}

    .au-qUW_link:focus, .au-qUW_link:hover, .au-qUW_link:active {
      color: var(--ddsweb-link-color-hover, var(--dds-interaction-colour-interactive-default));
      -webkit-text-decoration: var(--ddsweb-link-text-decoration-hover, none);
      text-decoration: var(--ddsweb-link-text-decoration-hover, none);}

    .au-qUW_link:focus-visible {
      -webkit-text-decoration: var(--ddsweb-link-text-decoration-focus-visible, none);
      text-decoration: var(--ddsweb-link-text-decoration-focus-visible, none);}

    .au-qUW_inlineLink {
      font-size: inherit;
      display: inline;}

    .au-qUW_xs {
      font-size: var(--ddsweb-tc-link-font-size-xs, var(--dds-typography-tokens-size-fontsize-12));}

    .au-qUW_sm {
      font-size: var(--ddsweb-tc-link-font-size-sm, var(--dds-typography-tokens-size-fontsize-14));}

    .au-qUW_md {
      font-size: var(--ddsweb-tc-link-font-size-md, var(--dds-typography-tokens-size-fontsize-16));}

    .au-qUW_lg {
      font-size: var(--ddsweb-tc-link-font-size-lg, var(--dds-typography-tokens-size-fontsize-20));}

    .au-qUW_iconScale {
      width: calc((var(--svg-width) * var(--ddsweb-tc-link-icon-size-md) * 100) / 100);
      height: calc((var(--svg-height) * var(--ddsweb-tc-link-icon-size-md) * 100) / 100);}

    .au-qUW_stretch {
      justify-content: space-between;
      width: 100%;}

    .au-qUW_emphasized {
      --ddsweb-link-text-decoration: none;
      --ddsweb-link-text-decoration-hover: underline;
      font-weight: 700;}

    .au-qUW_inverse {
      --link-color-inverse: var(--dds-retain-colour-in-dark-mode-retain-interactive-inverse);
      --ddsweb-link-color-base: var(--link-color-inverse);
      --ddsweb-link-color-hover: var(--link-color-inverse);
      --ddsweb-link-color-visited: var(--link-color-inverse);
      --ddsweb-link-color-focus-visible: var(--link-color-inverse);}

    .au-qUW_disabled {
      --link-color-disabled: var(--dds-interaction-colour-interactive-form);
      --ddsweb-link-color-base: var(--link-color-disabled);
      --ddsweb-link-color-hover: var(--link-color-disabled);
      --ddsweb-link-color-visited: var(--link-color-disabled);
      --ddsweb-link-text-decoration: underline;
      --ddsweb-link-text-decoration-hover: underline;
      --ddsweb-link-text-decoration-focus-visible: underline;
      cursor: default;
      pointer-events: none;}

    .au-qUW_disabled.au-qUW_inverse {
      --link-color-disabled-inverse: rgb(var(--dds-retain-colour-in-dark-mode-retain-interactive-inverse-rgb), var(--ddsweb-theme-base-rgb-opacity));
      --ddsweb-link-color-base: var(--link-color-disabled-inverse);
      --ddsweb-link-color-hover: var(--link-color-disabled-inverse);
      --ddsweb-link-color-visited: var(--link-color-disabled-inverse);}

    .au-qUW_linkText {
      order: var(--order-global-left, 0);
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: calc(100% + 1px);
      overflow: hidden;}

    .au-qUW_linkTextWrap {
      --ddsweb-link-text-decoration: underline;
      --ddsweb-link-text-decoration-hover: none;
      --ddsweb-link-text-decoration-focus-visible: none;
      overflow: unset;
      text-overflow: unset;
      white-space: unset;}

    .au-qUW_linkTextNoIcon {
      max-width: calc(100% + 1px);}

    .au-qUW_link:hover .au-qUW_linkTextWrap, .au-qUW_link:focus .au-qUW_linkTextWrap, .au-qUW_link:focus-visible .au-qUW_linkTextWrap {
      text-decoration: none;}

    .au-qUW_iconContainer {
      order: var(--order-global-right, 0);
      margin-right: var(--margin-global-right, 0);
      margin-left: var(--margin-global-left, 0);
      align-self: center;
      display: inline-flex;}

    .au-qUW_iconContainerRight {
      --order-global-right: 1;
      --order-global-left: 0;
      --margin-global-left: var(--dds-spacing-space-8);
      --margin-global-right: 0;}

    .au-qUW_iconContainerLeft {
      --order-global-right: 0;
      --order-global-left: 1;
      --margin-global-left: 0;
      --margin-global-right: var(--dds-spacing-space-8);}

    .au-qUW_iconContainerWrapText {
      align-self: baseline;}

    .au-qUW_standaloneLink {
      --link-color-disabled: var(--dds-interaction-colour-interactive-form);
      --ddsweb-link-text-decoration: underline;
      --ddsweb-link-text-decoration-hover: none;
      --ddsweb-link-text-decoration-focus-visible: none;
      font-weight: 700;
      display: inline-flex;}

    .au-qUW_standaloneLink.au-qUW_disabled {
      --link-color-disabled: rgb(var(--dds-interaction-colour-interactive-default-rgb), var(--ddsweb-theme-base-rgb-opacity));
      --ddsweb-link-color-base: var(--link-color-disabled);
      --ddsweb-link-color-hover: var(--link-color-disabled);
      --ddsweb-link-color-visited: var(--link-color-disabled);}

    .au-qUW_standaloneLink.au-qUW_disabled.au-qUW_inverse {
      --link-color-disabled-inverse: rgb(var(--dds-retain-colour-in-dark-mode-retain-interactive-inverse-rgb), var(--ddsweb-theme-base-rgb-opacity));
      --ddsweb-link-color-base: var(--link-color-disabled-inverse);
      --ddsweb-link-color-hover: var(--link-color-disabled-inverse);
      --ddsweb-link-color-visited: var(--link-color-disabled-inverse);}

    .au-qUW_hasIcon {
      --ddsweb-link-text-decoration: none;
      --ddsweb-link-text-decoration-hover: underline;
      --ddsweb-link-text-decoration-focus-visible: underline;
      align-items: center;
      max-width: 100%;
      display: inline-flex;}

    .au-qUW_hasIcon.au-qUW_linkTextWrap {
      --ddsweb-link-text-decoration: none;
      --ddsweb-link-text-decoration-hover: underline;
      --ddsweb-link-text-decoration-focus-visible: underline;}

    .au-qUW_link:focus-visible, .au-qUW_iconButtonLinkIcon:focus-visible {
      outline: 3px solid var(--ddsweb-link-color-focus-visible, var(--dds-interaction-colour-interactive-default));
      outline-offset: 1px;
      --ddsweb-link-text-decoration: none;}

    .au-qUW_disabled:focus-visible {
      --ddsweb-link-text-decoration: none;
      outline: none;}

    .au-qUW_textButton {
      --link-color-disabled: var(--dds-interaction-colour-interactive-form);
      --ddsweb-link-text-decoration: none;
      --ddsweb-link-text-decoration-hover: underline;
      box-sizing: border-box;
      height: var(--ddsweb-tc-link-button-height, 40px);
      padding: 0 var(--dds-spacing-space-20);
      border-radius: var(--dds-spacing-space-24);
      background: var(--text-button-bg-color, var(--dds-interaction-colour-interactive-default));
      justify-content: center;
      align-items: center;
      font-weight: 700;
      display: inline-flex;}

    .au-qUW_textButtonSm {
      height: var(--ddsweb-tc-link-button-height, 32px);}

    .au-qUW_textButton:after {
      z-index: 0;
      inset: var(--link-shadow-position-inset, -1px);
      top: var(--link-shadow-position-inset, -1px);
      right: var(--link-shadow-position-inset, -1px);
      bottom: var(--link-shadow-position-inset, -1px);
      left: var(--link-shadow-position-inset, -1px);
      box-shadow: 0 0 0 3px var(--box-shadow-color, var(--dds-interaction-colour-interactive-default));
      content: '';
      opacity: 0;
      transition: opacity var(--ddsweb-theme-base-transition-duration);
      border-radius: 99px;
      position: absolute;}

    .au-qUW_textButton:focus:after, .au-qUW_textButton:hover:after {
      opacity: 1;}

    .au-qUW_textButtonWrapText {
      height: auto;
      min-height: 40px;
      text-align: var(--text-align-global, 'center');
      border-radius: 999px;
      padding: 8px 18px;}

    .au-qUW_textButtonDisabled, .au-qUW_textButtonDisabled:after {
      cursor: default;
      pointer-events: none;}

    .au-qUW_textButtonSecondary.au-qUW_textButtonDisabled:after, .au-qUW_textButtonSecondary.au-qUW_textButtonDisabled.au-qUW_textButtonInverse:after {
      opacity: 0;}

    .au-qUW_textButtonPrimary, .au-qUW_textButtonSecondary.au-qUW_textButtonInverse {
      --link-color-primary: var(--dds-retain-colour-in-dark-mode-retain-interactive-inverse);
      --ddsweb-link-color-base: var(--link-color-primary);
      --ddsweb-link-color-hover: var(--link-color-primary);
      --ddsweb-link-color-visited: var(--link-color-primary);
      --text-button-bg-color: var(--dds-interaction-colour-interactive-default);}

    .au-qUW_textButtonSecondary, .au-qUW_textButtonPrimary.au-qUW_textButtonInverse {
      --link-color-primary-inverse: var(--dds-interaction-colour-interactive-default);
      --ddsweb-link-color-base: var(--link-color-primary-inverse);
      --ddsweb-link-color-hover: var(--link-color-primary-inverse);
      --ddsweb-link-color-visited: var(--link-color-primary-inverse);
      --text-button-bg-color: var(--dds-retain-colour-in-dark-mode-retain-interactive-inverse);}

    .au-qUW_textButtonPrimary.au-qUW_textButtonInverse, .au-qUW_textButtonSecondary.au-qUW_textButtonInverse {
      --box-shadow-color: var(--dds-retain-colour-in-dark-mode-retain-interactive-inverse);}

    .au-qUW_textButtonPrimary.au-qUW_textButtonDisabled, .au-qUW_textButtonSecondary.au-qUW_textButtonDisabled.au-qUW_textButtonInverse {
      --text-button-bg-color: rgb(var(--dds-interaction-colour-interactive-default-rgb), var(--ddsweb-theme-base-rgb-opacity));}

    .au-qUW_textButtonSecondary.au-qUW_textButtonDisabled, .au-qUW_textButtonPrimary.au-qUW_textButtonDisabled.au-qUW_textButtonInverse {
      --text-button-bg-color: rgb(var(--dds-retain-colour-in-dark-mode-retain-interactive-inverse-rgb), var(--ddsweb-theme-base-rgb-opacity));}

    .au-qUW_textButtonSecondary {
      --link-shadow-position-inset: -3px;
      border: 2px solid var(--dds-interaction-colour-interactive-default);}

    .au-qUW_textButtonSecondary.au-qUW_textButtonInverse {
      --link-shadow-position-inset: -3px;
      border: 2px solid var(--dds-retain-colour-in-dark-mode-retain-interactive-inverse);}

    .au-qUW_textButtonSecondary.au-qUW_textButtonDisabled {
      --link-color-secondary-disabled: rgb(var(--dds-interaction-colour-interactive-default-rgb), var(--ddsweb-theme-base-rgb-opacity));
      --ddsweb-link-color-base: var(--link-color-secondary-disabled);
      --ddsweb-link-color-hover: var(--link-color-secondary-disabled);
      --ddsweb-link-color-visited: var(--link-color-secondary-disabled);
      border: 2px solid var(--link-color-secondary-disabled);}

    .au-qUW_textButtonSecondary.au-qUW_textButtonDisabled.au-qUW_textButtonInverse {
      --link-color-secondary-disabled-inverse: rgb(var(--dds-retain-colour-in-dark-mode-retain-interactive-inverse-rgb), var(--ddsweb-theme-base-rgb-opacity));
      --ddsweb-link-color-base: var(--link-color-secondary-disabled-inverse);
      --ddsweb-link-color-hover: var(--link-color-secondary-disabled-inverse);
      --ddsweb-link-color-visited: var(--link-color-secondary-disabled-inverse);
      border: 2px solid var(--link-color-secondary-disabled-inverse);}

    .au-qUW_iconButtonLink {
      --ddsweb-link-text-decoration: none;
      --ddsweb-link-text-decoration-hover: underline;
      box-sizing: border-box;
      font-weight: var(--ddsweb-tc-link-icon-btn-weight, 400);
      display: inline-flex;}

    .au-qUW_iconButtonLinkEmphasized {
      font-weight: 700;}

    .au-qUW_iconButtonLinkIcon {
      box-sizing: border-box;
      width: var(--icon-size, var(--dds-sizing-size-40));
      height: var(--icon-size, var(--dds-sizing-size-40));
      background-color: var(--icon-bg-color, var(--dds-interaction-colour-interactive-default));
      color: var(--icon-color, var(--dds-retain-colour-in-dark-mode-retain-interactive-inverse));
      border-radius: 50%;
      flex-shrink: 0;
      justify-content: center;
      align-items: center;
      position: relative;}

    .au-qUW_iconButtonLinkXs {
      --icon-size: var(--dds-sizing-size-24);}

    .au-qUW_iconButtonLinkSm {
      --icon-size: var(--dds-sizing-size-32);}

    .au-qUW_iconButtonLinkXl {
      --icon-size: var(--dds-sizing-size-40);}

    .au-qUW_iconButtonLinkIcon:after {
      z-index: 0;
      inset: var(--ddsweb-link-shadow-position-inset, -1px);
      box-shadow: var(--icon-box-shadow-color, var(--dds-interaction-colour-interactive-default)) 0px 0px 0px 3px;
      content: '';
      opacity: 0;
      border-radius: 99px;
      transition: opacity 0.3s;
      position: absolute;}

    .au-qUW_iconButtonLinkIcon:focus-visible {
      outline: 3px solid var(--ddsweb-link-color-focus-visible, var(--dds-interaction-colour-interactive-default));
      outline-offset: 1px;}

    .au-qUW_iconButtonLinkIcon:hover:after, .au-qUW_iconButtonLinkIcon:focus:after, .au-qUW_iconButtonLink:focus-visible:after, .au-qUW_iconButtonLink:hover .au-qUW_iconButtonLinkIcon:after, .au-qUW_iconButtonLink:focus-visible .au-qUW_iconButtonLinkIcon:after, .au-qUW_iconButtonLink:focus .au-qUW_iconButtonLinkIcon:after {
      opacity: 1;}

    .au-qUW_iconButtonLinkSecondary.au-qUW_iconButtonLinkInverse:focus .au-qUW_iconButtonLinkIcon:after {
      --icon-box-shadow-color: var(--dds-retain-colour-in-dark-mode-retain-interactive-inverse);
      --ddsweb-link-shadow-position-inset: -3px;}

    .au-qUW_iconButtonLinkPrimary.au-qUW_iconButtonLinkDisabled, .au-qUW_iconButtonLinkSecondary.au-qUW_iconButtonLinkDisabled, .au-qUW_iconButtonLinkAsLink.au-qUW_iconButtonLinkDisabled {
      --link-color-disabled: rgb(var(--dds-interaction-colour-interactive-default-rgb), var(--ddsweb-theme-base-rgb-opacity));
      --ddsweb-link-color-base: var(--link-color-disabled);
      --ddsweb-link-color-hover: var(--link-color-disabled);
      --ddsweb-link-color-visited: var(--link-color-disabled);}

    .au-qUW_iconButtonLinkPrimary.au-qUW_iconButtonLinkDisabled.au-qUW_iconButtonLinkInverse, .au-qUW_iconButtonLinkSecondary.au-qUW_iconButtonLinkDisabled.au-qUW_iconButtonLinkInverse, .au-qUW_iconButtonLinkAsLink.au-qUW_iconButtonLinkDisabled.au-qUW_iconButtonLinkInverse {
      --link-color-disabled-inverse: rgb(var(--dds-retain-colour-in-dark-mode-retain-interactive-inverse-rgb), var(--ddsweb-theme-base-rgb-opacity));
      --ddsweb-link-color-base: var(--link-color-disabled-inverse);
      --ddsweb-link-color-hover: var(--link-color-disabled-inverse);
      --ddsweb-link-color-visited: var(--link-color-disabled-inverse);}

    .au-qUW_iconButtonLinkPrimary.au-qUW_iconButtonLinkIcon, .au-qUW_iconButtonLinkPrimary .au-qUW_iconButtonLinkIcon {
      --ddsweb-link-shadow-position-inset: -3px;
      border: 2px solid #0000;}

    .au-qUW_iconButtonLinkPrimary.au-qUW_iconButtonLinkDisabled {
      --icon-bg-color: rgb(var(--dds-interaction-colour-interactive-default-rgb), var(--ddsweb-theme-base-rgb-opacity));
      --icon-color: var(--dds-retain-colour-in-dark-mode-retain-interactive-inverse);}

    .au-qUW_iconButtonLinkPrimary.au-qUW_iconButtonLinkInverse {
      --icon-bg-color: var(--dds-retain-colour-in-dark-mode-retain-interactive-inverse);
      --icon-box-shadow-color: var(--dds-retain-colour-in-dark-mode-retain-interactive-inverse);
      --icon-color: var(--dds-interaction-colour-interactive-default);}

    .au-qUW_iconButtonLinkPrimary.au-qUW_iconButtonLinkInverse.au-qUW_iconButtonLinkDisabled {
      --icon-bg-color: rgb(var(--dds-retain-colour-in-dark-mode-retain-interactive-inverse-rgb), var(--ddsweb-theme-base-rgb-opacity));
      --icon-box-shadow-color: rgb(var(--dds-retain-colour-in-dark-mode-retain-interactive-inverse-rgb), var(--ddsweb-theme-base-rgb-opacity));
      --icon-color: var(--dds-interaction-colour-interactive-default);}

    .au-qUW_iconButtonLinkSecondary {
      --ddsweb-link-shadow-position-inset: -3px;
      --icon-bg-color: var(--dds-retain-colour-in-dark-mode-retain-interactive-inverse);
      --icon-color: var(--dds-interaction-colour-interactive-default);}

    .au-qUW_iconButtonLinkSecondary.au-qUW_iconButtonLinkIcon, .au-qUW_iconButtonLinkSecondary .au-qUW_iconButtonLinkIcon {
      border: 2px solid var(--dds-interaction-colour-interactive-default);}

    .au-qUW_iconButtonLinkSecondary.au-qUW_iconButtonLinkInverse {
      --ddsweb-link-shadow-position-inset: -3px;
      --icon-bg-color: var(--dds-interaction-colour-interactive-default);
      --icon-box-shadow-color: var(--dds-retain-colour-in-dark-mode-retain-interactive-inverse);
      --icon-color: var(--dds-retain-colour-in-dark-mode-retain-interactive-inverse);}

    .au-qUW_iconButtonLinkSecondary.au-qUW_iconButtonLinkInverse.au-qUW_iconButtonLinkIcon, .au-qUW_iconButtonLinkSecondary.au-qUW_iconButtonLinkInverse .au-qUW_iconButtonLinkIcon {
      border: 2px solid var(--dds-retain-colour-in-dark-mode-retain-interactive-inverse);}

    .au-qUW_iconButtonLinkSecondary.au-qUW_iconButtonLinkDisabled {
      --icon-bg-color: var(--dds-retain-colour-in-dark-mode-retain-interactive-inverse);
      --icon-color: rgb(var(--dds-interaction-colour-interactive-default-rgb), var(--ddsweb-theme-base-rgb-opacity));}

    .au-qUW_iconButtonLinkSecondary.au-qUW_iconButtonLinkDisabled.au-qUW_iconButtonLinkIcon, .au-qUW_iconButtonLinkSecondary.au-qUW_iconButtonLinkDisabled .au-qUW_iconButtonLinkIcon {
      border: 2px solid rgb(var(--dds-interaction-colour-interactive-default-rgb), var(--ddsweb-theme-base-rgb-opacity));}

    .au-qUW_iconButtonLinkSecondary.au-qUW_iconButtonLinkDisabled.au-qUW_iconButtonLinkInverse {
      --icon-bg-color: none;
      --icon-color: rgb(var(--dds-retain-colour-in-dark-mode-retain-interactive-inverse-rgb), var(--ddsweb-theme-base-rgb-opacity));}

    .au-qUW_iconButtonLinkSecondary.au-qUW_iconButtonLinkDisabled.au-qUW_iconButtonLinkInverse.au-qUW_iconButtonLinkIcon, .au-qUW_iconButtonLinkSecondary.au-qUW_iconButtonLinkDisabled.au-qUW_iconButtonLinkInverse .au-qUW_iconButtonLinkIcon {
      border: 2px solid rgb(var(--dds-retain-colour-in-dark-mode-retain-interactive-inverse-rgb), var(--ddsweb-theme-base-rgb-opacity));}

    .au-qUW_iconButtonLinkAsLink {
      --icon-bg-color: none;
      --icon-color: var(--dds-interaction-colour-interactive-default);}

    .au-qUW_iconButtonLinkAsLink.au-qUW_iconButtonLinkInverse {
      --icon-color: var(--dds-retain-colour-in-dark-mode-retain-interactive-inverse);
      --icon-box-shadow-color: var(--dds-retain-colour-in-dark-mode-retain-interactive-inverse);}

    .au-qUW_iconButtonLinkAsLink.au-qUW_iconButtonLinkDisabled {
      --icon-color: rgb(var(--dds-interaction-colour-interactive-default-rgb), var(--ddsweb-theme-base-rgb-opacity));}

    .au-qUW_iconButtonLinkAsLink.au-qUW_iconButtonLinkDisabled.au-qUW_iconButtonLinkInverse {
      --icon-color: rgb(var(--dds-retain-colour-in-dark-mode-retain-interactive-inverse-rgb), var(--ddsweb-theme-base-rgb-opacity));}

    @media (min-width: 320px) {
      .au-qUW_textButtonWrapText, .au-qUW_hasIcon {
        text-align: var(--text-align-aboveMobile, var(--text-align-global, 'center'));}

      .au-qUW_linkText, .au-qUW_linkTextWrap {
        order: var(--order-aboveMobile-left, var(--order-global-left, 0));}

      .au-qUW_iconContainer {
        order: var(--order-aboveMobile-right, var(--order-global-right, 0));
        margin-right: var(--margin-aboveMobile-right, var(--margin-global-right, 0));
        margin-left: var(--margin-aboveMobile-left, var(--margin-global-left, 0));}}

    @media (min-width: 504px) {
      .au-qUW_textButtonWrapText, .au-qUW_hasIcon {
        text-align: var(--text-align-aboveMobileLarge, var(--text-align-global, 'center'));}

      .au-qUW_linkText, .au-qUW_linkTextWrap {
        order: var(--order-aboveMobileLarge-left, var(--order-global-left, 0));}

      .au-qUW_iconContainer {
        order: var(--order-aboveMobileLarge-right, var(--order-global-right, 0));
        margin-right: var(--margin-aboveMobileLarge-right, var(--margin-global-right, 0));
        margin-left: var(--margin-aboveMobileLarge-left, var(--margin-global-left, 0));}}

    @media (min-width: 756px) {
      .au-qUW_textButtonWrapText, .au-qUW_hasIcon {
        text-align: var(--text-align-aboveTablet, var(--text-align-global, 'center'));}

      .au-qUW_linkText, .au-qUW_linkTextWrap {
        order: var(--order-aboveTablet-left, var(--order-global-left, 0));}

      .au-qUW_iconContainer {
        order: var(--order-aboveTablet-right, var(--order-global-right, 0));
        margin-right: var(--margin-aboveTablet-right, var(--margin-global-right, 0));
        margin-left: var(--margin-aboveTablet-left, var(--margin-global-left, 0));}}

    @media (min-width: 1008px) {
      .au-qUW_textButtonWrapText, .au-qUW_hasIcon {
        text-align: var(--text-align-aboveTabletLarge, var(--text-align-global, 'center'));}

      .au-qUW_linkText, .au-qUW_linkTextWrap {
        order: var(--order-aboveTabletLarge-left, var(--order-global-left, 0));}

      .au-qUW_iconContainer {
        order: var(--order-aboveTabletLarge-right, var(--order-global-right, 0));
        margin-right: var(--margin-aboveTabletLarge-right, var(--margin-global-right, 0));
        margin-left: var(--margin-aboveTabletLarge-left, var(--margin-global-left, 0));}}

    @media (min-width: 1260px) {
      .au-qUW_textButtonWrapText, .au-qUW_hasIcon {
        text-align: var(--text-align-aboveDesktop, var(--text-align-global, 'center'));}

      .au-qUW_linkText, .au-qUW_linkTextWrap {
        order: var(--order-aboveDesktop-left, var(--order-global-left, 0));}

      .au-qUW_iconContainer {
        order: var(--order-aboveDesktop-right, var(--order-global-right, 0));
        margin-right: var(--margin-aboveDesktop-right, var(--margin-global-right, 0));
        margin-left: var(--margin-aboveDesktop-left, var(--margin-global-left, 0));}}

    @media (min-width: 1512px) {
      .au-qUW_textButtonWrapText, .au-qUW_hasIcon {
        text-align: var(--text-align-aboveDesktopLarge, var(--text-align-global, 'center'));}

      .au-qUW_linkText, .au-qUW_linkTextWrap {
        order: var(--order-aboveDesktopLarge-left, var(--order-global-left, 0));}

      .au-qUW_iconContainer {
        order: var(--order-aboveDesktopLarge-right, var(--order-global-right, 0));
        margin-right: var(--margin-aboveDesktopLarge-right, var(--margin-global-right, 0));
        margin-left: var(--margin-aboveDesktopLarge-left, var(--margin-global-left, 0));}}}}