@layer ddsweb-organisms {
  @layer ddsweb-modal {
    .jBUmhW_dialog {
      box-sizing: border-box;
      width: 100%;
      max-width: unset;
      height: 100%;
      max-height: unset;
      border: unset;
      background: none;
      margin: 0;
      padding: 0;}

    .jBUmhW_dialog[open] {
      animation: jBUmhW_fadein var(--ddsweb-theme-base-transition-duration) ease-in forwards;
      display: flex;}

    .jBUmhW_dialog[open]::backdrop {
      animation: jBUmhW_fadein var(--ddsweb-theme-base-transition-duration) ease-in forwards;}

    .jBUmhW_dialog.jBUmhW_hide, .jBUmhW_dialog.jBUmhW_hide::backdrop {
      animation: jBUmhW_fadeout var(--ddsweb-theme-base-transition-duration) ease-in forwards;}

    .jBUmhW_dialog::backdrop {
      background-color: rgba(var(--ddsweb-theme-colors-black-rgb), 0.7);}

    .jBUmhW_container:focus-visible, .jBUmhW_content:focus-visible {
      outline: 3px solid var(--dds-background-colour-background-dark-primary);
      outline-offset: -4px;}

    .jBUmhW_header {
      z-index: 1;
      padding: var(--ddsweb-tc-modal-outer-padding, var(--dds-spacing-space-16));
      justify-content: space-between;
      align-items: center;
      gap: var(--dds-spacing-space-12);
      border-bottom: 1px solid var(--dds-line-colour-border-secondary);
      background: var(--dds-background-colour-background-1);
      word-break: break-word;
      display: flex;
      position: relative;}

    .jBUmhW_container {
      box-sizing: border-box;
      background: var(--dds-background-colour-background-1);
      flex-direction: column;
      max-width: calc(100% - 24px);
      max-height: calc(100dvh - 24px);
      margin: auto;
      display: flex;}

    .jBUmhW_content {
      padding: var(--dds-spacing-space-12) var(--ddsweb-tc-modal-outer-padding, var(--dds-spacing-space-16));
      padding-bottom: var(--dds-spacing-space-16);
      border: var(--ddsweb-modal-content-border, 1px solid transparent);}

    .jBUmhW_footer {
      padding: var(--ddsweb-tc-modal-outer-padding, var(--dds-spacing-space-16));
      padding-top: var(--dds-spacing-space-12);
      justify-content: center;
      align-items: center;
      gap: var(--dds-spacing-space-8);
      background: var(--dds-background-colour-background-1);
      display: flex;}

    .jBUmhW_button {
      flex-shrink: 0;}

    .jBUmhW_left {
      justify-content: flex-start;}

    .jBUmhW_right {
      justify-content: flex-end;}

    .jBUmhW_reducedBottomPadding {
      padding-bottom: var(--dds-spacing-space-4);}

    @keyframes jBUmhW_fadein {
      0% {
        opacity: 0;}

      100% {
        opacity: 1;}}

    @keyframes jBUmhW_fadeout {
      0% {
        opacity: 1;}

      100% {
        opacity: 0;}}

    @media (min-width: 504px) {
      .jBUmhW_container {
        max-width: 480px;}}

    @media (max-height: 279px) {
      .jBUmhW_container {
        overflow-y: auto;}}

    @media (min-height: 280px) {
      .jBUmhW_content {
        overflow-y: auto;}

      .jBUmhW_header {
        position: sticky;
        top: 0;}

      .jBUmhW_footer {
        position: sticky;
        bottom: 0;}}

    @media (forced-colors: active) {
      .jBUmhW_container {
        border: 4px solid canvastext;
        outline: 0 solid canvas;}

      .jBUmhW_content {
        border: 3px solid canvas;
        outline: none;}

      .jBUmhW_container:focus-visible {
        outline-offset: 1px;
        border-color: #0000;
        outline: 3px solid canvastext;}

      .jBUmhW_dialog::backdrop {
        background-color: canvas;}}}}