@layer ddsweb-small-atoms {
  @layer ddsweb-text {
    .Y4g-HG_text {
      margin: var(--ddsweb-text-margin-top, 0) var(--ddsweb-text-margin-right, 0) var(--ddsweb-text-margin-bottom, 0) var(--ddsweb-text-margin-left, 0);
      color: var(--ddsweb-text-color, var(--dds-typography-colour-text-body, 'inherit'));
      font-weight: var(--ddsweb-text-font-weight, 400);
      font-size: var(--ddsweb-text-font-size);
      line-height: var(--ddsweb-text-line-height);
      font-family: var(--dds-typography-tokens-family-body);}

    .Y4g-HG_longFormLg {
      --ddsweb-text-font-size: var(--dds-typography-tokens-size-fontsize-20);
      --ddsweb-text-line-height: var(--ddsweb-theme-line-height-next-text-md);}

    .Y4g-HG_shortFormLg {
      --ddsweb-text-font-size: var(--dds-typography-tokens-size-fontsize-20);
      --ddsweb-text-line-height: var(--ddsweb-theme-line-height-next-text-sm);}

    .Y4g-HG_longFormMd {
      --ddsweb-text-font-size: var(--dds-typography-tokens-size-fontsize-16);
      --ddsweb-text-line-height: var(--ddsweb-theme-line-height-next-text-md);}

    .Y4g-HG_shortFormMd {
      --ddsweb-text-font-size: var(--dds-typography-tokens-size-fontsize-16);
      --ddsweb-text-line-height: var(--ddsweb-theme-line-height-next-text-sm);}

    .Y4g-HG_longFormSm {
      --ddsweb-text-font-size: var(--dds-typography-tokens-size-fontsize-14);
      --ddsweb-text-line-height: var(--ddsweb-theme-line-height-next-text-md);}

    .Y4g-HG_shortFormSm {
      --ddsweb-text-font-size: var(--dds-typography-tokens-size-fontsize-14);
      --ddsweb-text-line-height: var(--ddsweb-theme-line-height-next-text-sm);}

    .Y4g-HG_longFormXs {
      --ddsweb-text-font-size: var(--dds-typography-tokens-size-fontsize-12);
      --ddsweb-text-line-height: var(--ddsweb-theme-line-height-next-text-md);}

    .Y4g-HG_shortFormXs {
      --ddsweb-text-font-size: var(--dds-typography-tokens-size-fontsize-12);
      --ddsweb-text-line-height: var(--ddsweb-theme-line-height-next-text-sm);}}}