<!doctype html>
<meta charset="utf-8">
<title>Absolute static-position fallback (all insets auto)</title>
<style>
  html, body {
    margin: 0;
    background: #fff;
  }

  #cb {
    position: relative;
    width: 200px;
    height: 160px;
    background: #ddd;
  }

  #before {
    width: 200px;
    height: 50px;
    background: #00f;
  }

  #abs {
    position: absolute;
    width: 60px;
    height: 40px;
    background: #0a0;
  }
</style>
<div id="cb">
  <div id="before"></div>
  <div id="abs"></div>
</div>
