<!doctype html>
<meta charset="utf-8">
<title>clear:both positions block below floats on both sides</title>
<style>
  body {
    margin: 0;
    font-size: 0;
  }

  .left {
    float: left;
    width: 60px;
    height: 60px;
    background: #00f;
  }

  .right {
    float: right;
    width: 60px;
    height: 80px;
    background: #0f0;
  }

  .clear {
    clear: both;
    width: 120px;
    height: 40px;
    background: #f00;
  }
</style>
<div class="left"></div>
<div class="right"></div>
<div class="clear"></div>

