<!doctype html>
<meta charset="utf-8">
<title>Grid measurement: percentage padding affects item size</title>
<style>
  body {
    margin: 0;
    background: #fff;
  }

  .grid {
    display: grid;
    grid-template-columns: 50px 70px;
    align-items: start;
    background: #d1d5db;
  }

  .box {
    width: 100%;
    height: 0;
    padding-top: 50%;
  }

  .a {
    background: #ef4444;
  }

  .b {
    background: #22c55e;
  }
</style>
<div class="grid">
  <div class="box a"></div>
  <div class="box b"></div>
</div>
