@font-face {
  font-family: 'Open Sans';
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url(09b9c8dcedb53a6a6055aa4eb7d5f3a6.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src: url(c4ddb70c2424f75ca7f0792e685d5521.ttf) format('truetype');
}
