<!doctype html>
<meta charset="utf-8">
<title>Float source-order prevents later floats from rising above pushed-down floats</title>
<style>
  body {
    margin: 0;
    background: #fff;
    font-size: 0;
    line-height: 0;
  }

  .a {
    float: left;
    width: 80px;
    height: 10px;
    background: #f00;
  }

  .b {
    float: left;
    width: 80px;
    height: 10px;
    background: #0f0;
  }

  .c {
    float: left;
    width: 20px;
    height: 10px;
    background: #00f;
  }
</style>
<div class="a"></div><div class="b"></div><div class="c"></div>

