<!doctype html>
<meta charset="utf-8">
<title>Line boxes push below when left/right floats leave no horizontal space</title>
<style>
  body {
    margin: 0;
    background: #fff;
  }

  #wrap {
    width: 100px;
  }

  .left {
    float: left;
    width: 45px;
    height: 20px;
    background: #00f;
  }

  .right {
    float: right;
    width: 45px;
    height: 20px;
    background: #f00;
  }

  .para {
    font-size: 0;
    line-height: 10px;
  }

  .piece {
    display: inline-block;
    width: 30px;
    height: 10px;
    background: #0f0;
    vertical-align: top;
  }
</style>
<div id="wrap"><div class="left"></div><div class="right"></div><div class="para"><span class="piece"></span></div></div>

